form {
  background-color: dimgray;
  width: 300px;
  height: 44px;
  display: flex;
  flex-direction: row;
  align-items: center;
}

input {
  font: 16px system-ui;
  background-color: #444444;
  border: #616161 solid 2px;
  border-radius: 5px;
  padding: 10px;
  color: white;
}

button {
  all: unset;
  cursor: pointer;
  border: #616161 solid 2px;
  border-radius: 5px;
  padding: 10px;
  color: white;
  background-color: #444444;
}

.remaining {
  color: white;
  font-size: 18px;
  width: 97%;
  text-align: right;
  margin-top: 20px;
}

.triple-buttons {
  width: 97%;
  display: flex;
  justify-content: flex-end;
  gap: 15px;
}

.ToDo div {
  background-color: #535353;
  padding: 10px;
  border-radius: 5px;

  display: flex;
  justify-content: space-between;
}

.Wrapper {
  background-color: #444444;
  margin: 0;
  padding: 15px;
  border-radius: 5px;
  margin-bottom: 15px;
  color: white;
  display: grid;
  grid-gap: 7px;
  border: #616161 solid 2px;
}
